{% include 'base.html.twig' %}

{% block body %}

	<div>
		<h1>Nos collaborations</h1>
		<p>Au cœur des réflexions sur le changement 
			Notre capacité à repenser et réinventer le fonctionnement existant nous permet de faire de l'innovation un puissant moteur de création de valeur. 
			Un travail au plus près des décisionnaires :collectivités, maires,députés sénateurs ou ministres
		</p>
		<img src="{{asset('build/images/collaboration1.gif')}}" title="image" alt="My image">
		<p>Pierre Gattaz President du Medef</p>
		<img src="{{asset('build/images/collaboration2.gif')}}" title="image" alt="My image">
		<p>Patrick Kanner Ministre des sports </p>
		<img src="{{asset('build/images/collaboration3.gif')}}" title="image" alt="My image">
		<p>Gerard Larcher President du Senat </p>
	</div>


{% endblock %}
