{% include 'base.html.twig' %}

{% block body %}

	<div>
		<h1>Nos Competences</h1>
		<ul>
		<li>Conseiller en Investissement Financier Répertorié AMF (Autorité des Marchés Financiers)</li>
		<li>Conseiller en création d'entreprise </li>
		<li>Membre du Conseil de développement de la MEL </li>
		<li>Référent Thématique Economie Circulaire </li>
		<li>Formateur en Méthodologie de projet </li>
		<li>Economie sociale et Solidaire</li>
		<li>Membre du Jury ConcoursTOTAL EDHEC Entreprendre Business School </li>
		<li>Interviewer Cultures Urbaines  Emission « Dansl'truc »</li>
		<li>Master sciences Humaines mention Sociologie Urbaine </li>
		<li>Université de Bristol Royaume Uni</li>
		<li>Conseiller Sportif Gestion de carrières </li>
		<li>Président Association Sportive BOXSAY </li>
		</ul>
		<img src="{{asset('build/images/competence1.gif')}}" title="image" alt="competence1">
		<img src="{{asset('build/images/competence2.gif')}}" title="image" alt="competence2">
		<img src="{{asset('build/images/competence3.gif')}}" title="image" alt="competence3">
		<img src="{{asset('build/images/competence4.gif')}}" title="image" alt="competence4">
	</div>

{% endblock %}
