{% include 'base.html.twig' %}

{% block body %}

	<div>
		<h1>Notre Expertise</h1>
		<p>Le cabinet Ambinova  
			Fort de sa connaissance approfondie de l'organisation de l'écosystème entrepreneurial sur le territoire,le cabinet 
			Ambinova a fait le choix d'un développement hyperspécialisé pour fournir à ses clients une expertise pointue en 
			création d'activité  et des conseils de haute technicité. Monsieur Montoli est Consultant Fondateur du cabinet de 
			conseil Ambinova.
			Le cabinet développe le programme « je deviens patron » le socle idéal pour se familiariser avec les bons réflexes pour Entreprendre.
		</p>
		<img src="{{asset('build/images/ambinova1.gif')}}" title="image" alt="ambinova1">
		<img src="{{asset('build/images/ambinova2.gif')}}" title="image" alt="ambinova2">
		<img src="{{asset('build/images/ambinova3.gif')}}" title="image" alt="ambinova3">
		<p>Notre connaissance du tissu économique local ainsi que notre reseau au sein du secteur public et privé nous 
			positionne comme un partenaire privilegié de nos clients.
			
			Création d'entreprise – -Gestion Associations -Economie sociale et Solidaire -développement économique -formation 
			-Culture Urbaine  - Gestion de carrières sportives -Droit -Assurances -Finances
		</p>
	</div>


{% endblock %}
