{% include 'base.html.twig' %}

{% block body %}

	<div>
		<img src="{{asset('build/images/image1.gif')}}" title="image" alt="My image">
		<p>Consultant – Conseiller - Conferencier</p>
		<p>Au cœur de votre stratégie de développement</p>
		<p>Envie d'entreprendre ?</br>
			Comment passer de l'idée à l'action ?</br>
			Notre expertise vous sera déterminante</br>
		</p>
	</div>

{% endblock %}
