{% include "base.html.twig" %}
{% block body %}
	<div>
		<h1>Notre Mission</h1>
		<div class='col-md-8'>
		<p>Impulser une Dynamique Entrepreneuriale 
			 « l'action est la clé fondamentale de tout succés »
			Pablo picasso »
			Nous transformons les idées en Action  
			Nous apportons énormément d'attention à l'écoute,la compréhension et l'analyse des besoins de nos clients.
			Nous élaborons des initiatives orientées vers l'action avec une logique de résultats. 
			L'entrepreneuriat représente pour nous une libération du potentiel de chacun. 
			Nous croyons fortement en la capacité d'innovation 
			Nous avons tous des idées et le processus entrepreneurial se situe dans cette capacité à les transformer.
			Nous vous proposons une boite à outils revisitée afin de vous accompagner à
		</p>
		</div>
		<div class='col-md-4'>
			<img src="{{asset('build/images/image3.jpg')}}" title="image" alt="My image">
		</div>
	</div>
{% endblock %}
