{% include 'base.html.twig' %}

{% block body %}

	<div>
		<h1>Notre Vision
		</h1>
		<p>Apporter une Plus Value réelle 
			Nous avons drivé plus de 500 entrepreneurs issus de divers secteurs d'activité avec des méthodes innovantes adaptées aux clients.
			Nous agissons en faveur du développement économique,par des actions de conseil,d'accompagnement et de soutien aux entrepreneurs de demain 
			Notre positionnement unique,sur mesure constitue notre avantage ; 
			Dynamisme,performance transparence sont les maitres mots
		</p>
		<img src="{{asset('build/images/image2.gif')}}" title="image" alt="My image">
	</div>

{% endblock %}
